<div class="flex h-dvh flex-col items-center justify-center gap-2">
  <p-button
    label="authorize"
    [disabled]="!sdk.isInitialized"
    styleClass="w-64"
    (onClick)="onClickAuthorizeButton()"
  ></p-button>
  <p-button
    label="sign"
    [disabled]="!sdk.isInitialized || !idTokenPayload.isInitialized"
    styleClass="w-64"
    (onClick)="onClickSignButton()"
  ></p-button>
  <p-button
    label="sendTransaction"
    [disabled]="!sdk.isInitialized || !idTokenPayload.isInitialized"
    styleClass="w-64"
    (onClick)="onClickSendTransactionButton()"
  ></p-button>
</div>
