<div class="flex h-dvh flex-col items-center justify-center gap-2">
  <p-button
    label="authorize"
    [disabled]="!sdk.isInitialized"
    styleClass="w-64"
    (onClick)="onClickAuthorizeButton()"
  />
  <page-sign-form
    [isDisabled]="!sdk.isInitialized || !idTokenPayload.isInitialized"
    (onSubmit)="onSubmitSign($event)"
  />
  <p-button
    label="sendTransaction"
    [disabled]="!sdk.isInitialized || !idTokenPayload.isInitialized"
    styleClass="w-64"
  />
  <p-button
    label="disconnect"
    severity="danger"
    [disabled]="!sdk.isInitialized || !idTokenPayload.isInitialized"
    styleClass="w-64"
    (onClick)="onClickDisconnectButton()"
  />
</div>
